<%- include("template/header")  %>

    <!-- TITTLE -->
    <h1 class="display-5 text-center text-secondary" style="margin-top: 30px;margin-bottom: 10px;">Lista de estudiantes
    </h1><button class="btn btn-secondary active text-center" type="button"
        style="width: 182.5px;padding: 8px 12px;margin-top: 15px;margin-bottom: 0px;margin-right: 0px;margin-left: 10px;">Agregar
        estudiante</button>

    <!-- MODAL CREATE STUDENT -->
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-secondary">Crear estudiante</h4><button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="position-relative py-4 py-xl-5">
                        <form method="post">
                            <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name"
                                    placeholder="Nombre" autocomplete="on" required="" minlength="5" maxlength="50">
                            </div>
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="career"
                                    placeholder="Carrera" autocomplete="on" autofocus="" required="" minlength="5"
                                    maxlength="50"></div>
                            <div class="mb-3"><input class="form-control" type="date"></div>
                            <div class="mb-3"></div>
                            <div></div>
                        </form>
                    </section>
                </div>
                
                <div class="modal-footer"><button class="btn btn-light" type="button"
                        data-bs-dismiss="modal">Close</button><button class="btn btn-primary text-bg-secondary"
                        type="button">Agregar</button></div>
            </div>
        </div>
    </div>

    <!-- MODAL EDIT STUDENT -->
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-secondary">Editar estudiante</h4><button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="position-relative py-4 py-xl-5">
                        <form method="post">
                            <div class="mb-3"><input class="form-control" type="text" id="name-3" name="name"
                                    placeholder="Nombre" autocomplete="on" required="" minlength="5" maxlength="50">
                            </div>
                            <div class="mb-3"><input class="form-control" type="text" id="name-4" name="career"
                                    placeholder="Carrera" autocomplete="on" autofocus="" required="" minlength="5"
                                    maxlength="50"></div>
                            <div class="mb-3"><input class="form-control" type="date"></div>
                            <div class="mb-3"></div>
                            <div></div>
                        </form>
                    </section>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button"
                        data-bs-dismiss="modal">Close</button><button class="btn btn-primary text-bg-secondary"
                        type="button">Editar</button></div>
            </div>
        </div>
    </div>

    <!-- TABLE STUDENT -->
    <div class="table-responsive" style="margin-top: 15px;margin-right: 10px;margin-left: 11px;">
        <table class="table table-bordered">
            <thead class="text-center text-bg-secondary">
                <tr>
                    <th class="text-start" style="padding-right: 0px;">ID estudiante</th>
                    <th class="text-start">Nombre</th>
                    <th class="text-start">Fecha de nacimiento</th>
                    <th class="text-start">Carrera</th>
                    <th class="text-center">Acción</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>0A213445345</td>
                    <td>Hervik Moraga</td>
                    <td>17/08/2000</td>
                    <td>Ingenieria en Informatica</td>
                    <td class="text-center">&nbsp;<button class="btn btn-primary" type="button">E</button><button
                            class="btn btn-primary" type="button" style="margin-left: 10px;">R</button></td>
                </tr>



            </tbody>
        </table>
    </div>



    <%- include("template/footer")  %>